<div class="panel panel-default panel-margin">
    <div class="panel-heading">
        <label><span class="glyphicon glyphicon-globe"></span> Lista Tarilor</label>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
                <select ng-init="selectedCountry=498" class="form-control " ng-model="selectedCountry" ng-options="selectedCountry.cod as selectedCountry.countryName for selectedCountry in countryList | orderBy:'countryName'">
                </select>
            </div>
        </div>
        <br>
    </div>
</div>
