<div ng-init="searchForm = false" class="panel panel-default panel-margin table-responsive">
    <div class="panel-heading">
        <label>Pagina: {{currentPage}} din {{pageCount}}, numarul total de inregistrari: {{rowCount}}</label>
        <nav class="pagination-custom" aria-label="Page navigation">
            <ul class=" pagination pagination-sm">
                <li>
                    <a ng-click="firstPage()">
                  Prima
                </a>
                </li>
                <li>
                    <a ng-click="prevPage() " aria-label="Previous ">
                        <span aria-hidden="true ">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="page in PaginatorElements" ng-if="$index > 0">
                    <a ng-click="thisPage(page)">{{page}}</a>
                </li>
                <li>
                    <a ng-click="morePages()">
                        <span>...</span>
                    </a>
                </li>
                <li>
                    <a ng-click="nextPage() " aria-label="Next ">
                        <span aria-hidden="true ">&raquo;</span>
                    </a>
                </li>
                <li>
                    <a ng-click="lastPage()">
                    Ultima
                  </a>
                </li>
            </ul>
        </nav>
        <label ng-click="searchForm =! searchForm"><span class="glyphicon glyphicon-search"></span> Cautare</label>

        <div class=" row " ng-show="searchForm ">
            <div class="col-sm-3 ">
                <div class="input-group ">
                    <span class="input-group-addon ">Nr. interpelare: </span>
                    <input ng-keyup="fetchdata()" class="form-control " type="text " name="keyUpSearch-nr-interpelare " ng-model="keyUpSearch.interpelationNr" ng-init="keyUpSearch.interpelationNr=''" />
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="input-group ">
                    <span class="input-group-addon ">Subiectul: </span>
                    <select ng-change="fetchdata()" class="form-control" ng-model="selectedSubjectType" ng-options="selectedSubjectType.id as selectedSubjectType.subjectName for selectedSubjectType in subjectTypes | orderBy:'subjectName'">
                      <option value="">

                      </option>
                    </select>
                    <!--input ng-keyup="fetchdata()" class="form-control " type="text " name="keyUpSearch-nr-interpelare " ng-model="keyUpSearch.subjectType.subjectName " /-->
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="input-group ">
                    <span class="input-group-addon ">Detalii: </span>
                    <input ng-keyup="fetchdata()" class="form-control " type="text " name="keyUpSearch-nr-interpelare " ng-model="keyUpSearch.description" />
                </div>
            </div>

        </div>

        <div class="row ">
            <div ng-hide="true " class="col-md-12 ">
                <button class="btn btn-primary " ng-click="prev() ">Precedenta < </button>
                <button class="btn btn-primary " ng-click="next() ">Urmatoarea > </button>
            </div>

        </div>
    </div>
    <table class="table table-bordered table-striped table-hover ">
        <thead>
            <!--th>ID</th-->
            <th>Tip scrisoare</th>
            <th>Numarul de intrare</th>
            <th>Data intrarii</th>
            <th>Tara</th>
            <th>Denumirea <br /> solicitantului</th>
            <th>Subiectul</th>
            <!--th>Referinta de intrare
            <br /> a solicitantului</th-->
            <th>Detalii subiect</th>
            <!--th>Mesaju</th-->
            <th>Prioritatea</th>
            <th><span class="glyphicon glyphicon-edit "></span></th>
        </thead>
        <tbody>
            <tr ng-repeat="interpelation in interpelations | filter:search:strinct | orderBy: '-interpelationDate' ">
                <!--td>{{interpelation.id}}</td-->
                <td>{{interpelation.interpelationType }}</td>
                <td>{{interpelation.interpelationNr }}</td>
                <td>{{interpelation.interpelationDate | date:'dd-MM-yyyy'}}</td>
                <td>{{interpelation.country.countryCod2}}</td>
                <td>{{interpelation.authority.authorityName}}</td>
                <td>{{interpelation.subjectType.subjectName}}</td>
                <!--td>{{interpelation.authorityInterpelationNr}}</td-->
                <td class="table-td-description ">{{interpelation.description}}</td>
                <!--td>{{interpelation.mailMessage.content}}</td-->
                <td>
                    <span ng-class="{ 'priority-low': interpelation.interpelationPriority=='SCAZUTA' , 'priority-middle': interpelation.interpelationPriority=='MEDIE' , 'priority-high': interpelation.interpelationPriority=='RIDICATA' ,} ">
                          {{interpelation.interpelationPriority}}
                    </span>
                </td>
                <td><a ng-click="editIntpl(interpelation.id) "><span class="glyphicon glyphicon-edit ">&nbsp</span></a></td>
            </tr>
        </tbody>
    </table>

</div>
