<div ng-init="searchForm = false" class="panel panel-default panel-margin table-responsive">
    <div class="panel-heading">
        <label ng-click="searchForm =! searchForm"><span class="glyphicon glyphicon-search"></span> Cautare</label>
        <div class=" row " ng-show="searchForm ">
            <div class="col-sm-3 ">
                <div class="input-group ">
                    <span class="input-group-addon ">Nr. interpelare: </span>
                    <input class="form-control " type="text " name="nr-interpelare " ng-model="search.interpelationNr" />
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="input-group ">
                    <span class="input-group-addon ">Subiectul: </span>
                    <input class="form-control " type="text " name="nr-interpelare " ng-model="search.subjectType.subjectName" />
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="input-group ">
                    <span class="input-group-addon ">Detalii: </span>
                    <input class="form-control " type="text " name="nr-interpelare " ng-model="search.description" />
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover ">
        <thead>
            <!--th>ID</th-->
            <th>Tip scrisoare</th>
            <th>Numarul de intrare</th>
            <th>Data intrarii</th>
            <th>Tara</th>
            <th>Denumirea <br /> solicitantului</th>
            <th>Subiectul</th>
            <!--th>Referinta de intrare
                <br /> a solicitantului</th-->
            <th>Detalii subiect</th>
            <!--th>Mesaju</th-->
            <th>Prioritatea</th>
            <th><span class="glyphicon glyphicon-edit "></span></th>
        </thead>
        <tbody>
            <tr ng-repeat="interpelation in interpelations | filter:search:strinct | orderBy: '-interpelationDate' ">
                <!--td>{{interpelation.id}}</td-->
                <td>{{interpelation.interpelationType }}</td>
                <td>{{interpelation.interpelationNr }}</td>
                <td>{{interpelation.interpelationDate | date:'dd-MM-yyyy'}}</td>
                <td>{{interpelation.country.countryCod3}}</td>
                <td>{{interpelation.authority.authorityName}}</td>
                <td>{{interpelation.subjectType.subjectName}}</td>
                <!--td>{{interpelation.authorityInterpelationNr}}</td-->
                <td class="table-td-description ">{{interpelation.description}}</td>
                <!--td>{{interpelation.mailMessage.content}}</td-->
                <td>
                    <span ng-class="{ 'priority-low': interpelation.interpelationPriority=='SCAZUTA' , 'priority-middle': interpelation.interpelationPriority=='MEDIE' , 'priority-high': interpelation.interpelationPriority=='RIDICATA' ,} ">
                          {{interpelation.interpelationPriority}}
                    </span>
                </td>
                <td><a ng-click="editIntpl(interpelation.id) "><span class="glyphicon glyphicon-edit ">&nbsp</span></a></td>
            </tr>
        </tbody>
    </table>
</div>
