<div class="panel panel-default panel-margin">
    <div class="panel-heading">
        <h3>Lista Subiectelor</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="btn-group col-sm-12" role="group" aria-label="...">
                <button ng-click="editMode = !editMode" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Adauga Subiect</button>
            </div>
            <div class="col-sm-3">
                <br />
                <form ng-show="editMode" class="form-horizontal">
                    <div class="form-group col-sm-12">
                        <label for="interpelationNr ">Tema Subiect</label>
                        <input ng-show="editMode " type="text " class="form-control " id="subjectName " ng-model="new.subjectName ">
                    </div>
                    <button ng-show="editMode " class="btn btn-success " ng-click="saveSubject(new) ">Salveaza</button>
                </form>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4 ">
                <table class="table table-stripped table-hover ">
                    <thead>
                        <tr>
                            <th>
                                Denumirea
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="subject in subjectsList ">
                            <td>
                                {{subject.subjectName}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
